:root {
    --btn-min-width: 200px;
}

.wrapper {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    // + .wrapper {
    //     margin-left: 16px;
    // }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// .icon + .title,
// .title + .icon {
//     margin-left: 8px;
// }

// Button types
.rounded {
    color: var(--text-color);
    background-color: var(--menu-bg-color);
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    outline: none;
    border: none;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        // background-color: rgba(22, 24, 35, 0.03);
    }
}

.normal {
    background-color: var(--nav-bg-color);
    border-radius: 10px;
    color: var(--black);
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 16px;
    margin-bottom: 3rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--main-color);
        color: var(--white);
        cursor: pointer;
    }

    & + .normal {
        margin-left: 30px;
    }
}

.slide {
    position: relative;
    min-width: var(--btn-min-width);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 35px;
    color: var(--txt-color);
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none !important;
    text-overflow: ellipsis;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    .title {
        display: inline-block;
        color: var(--txt-color);
        padding: 7px 16px 7px 48px;
        position: relative;
        left: 0;
        transition: all 0.3s ease;
        z-index: 2;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.8rem;
        font-weight: 600;
        background-color: var(--main-color);
        color: var(--white);
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: 0;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        transition: all 0.3s ease;
    }

    &:hover {
        background-color: var(--main-color);
        color: var(--white);

        .title {
            padding: 7px 48px 7px 16px;
        }
        .icon {
            left: calc(var(--btn-min-width) - 55px);
        }
    }

    & + .slide {
        margin-left: 50px;
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    padding: 8px 8px;

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        // border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.upload {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.04);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Disabled

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

// Css Animation Icon
.animate {
    .icon {
        animation: tada 1.5s ease infinite;
    }
}

@keyframes tada {
    0% {
        transform: scaleX(1);
    }
    10%,
    20% {
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scaleX(1) rotate(10deg);
    }

    40%,
    60%,
    80% {
        // -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        // -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
