.background-block {
    background-color: var(--main-color);
    height: 200%;
    left: -83%;
    position: fixed;
    top: -50%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 100%;
    z-index: 1;
}

.main {
    background-color: var(--body-bg);
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 32px;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33.33%;
    padding: 0 3rem;
    z-index: 2;
}

.home-avatar {
    img {
        border-radius: 30px;
        box-shadow: 0 0 12px rgb(0 0 0 / 90%);
        width: 100%;
        height: 39vw;
        object-fit: cover;
    }
}

.right-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;

    .right-wrapper {
        width: 80%;

        h1 {
            color: var(--main-color);
            font-size: 5rem;
            line-height: 62px;
            margin: 18px 0 10px;
            padding-left: 70px;
            position: relative;
            text-transform: capitalize;

            &:before {
                background-color: var(--main-color);
                border-radius: 10px;
                content: '';
                height: 4px;
                left: 0;
                position: absolute;
                top: 29px;
                width: 40px;
            }

            span {
                display: block;
                color: var(--text-color);
            }
        }

        p {
            font-size: 1.8rem;
            line-height: 3.5rem;
            margin: 15px 0 28px;
            text-align: justify;
        }
    }
}

@media only screen and (max-width: 991.98px) {
    .background-block {
        display: none;
    }

    .container {
        padding: 100px 16px;

        .wrapper {
            display: block;
            height: 100%;
        }
    }

    .left-home {
        width: 100%;

        img {
            border: 4px solid #252525;
            border-radius: 50%;
            box-shadow: none;
            height: 270px;
            width: 270px;
        }
    }

    .right-home {
        width: 100%;
        .right-wrapper {
            width: unset;

            h1 {
                font-size: 42px;
                line-height: 48px;
                padding: 0;
                text-align: center;
                &:before {
                    display: none;
                }
            }
            p {
                font-size: 18px;
                line-height: 30px;
                padding: 0 96px;
                text-align: justify;
            }
            .btn-block {
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
}
@media only screen and (max-width: 767.98px) {
    .container {
        padding: 70px 16px;

        img {
            height: 230px;
            width: 230px;
        }
        .right-home {
            h1 {
                font-size: 29px;
                line-height: 39px;
                text-align: center;
            }
            p {
                font-size: 16px;
                line-height: 28px;
                padding: 0 16px;
            }
        }
    }
}
